ul:not(.browser-default) li {
    list-style-type: disc;
}

.product-title {
    font-size: small;
}

.product-description {
    font-size: smaller;
}

.product-feature {
    font-size: smaller;
}

.product-price {
    font-size: large;
}

.add-to-cart {
    --sds-c-button-brand-color-background: #000000;
    --sds-c-button-brand-color-border: #000000;
    --sds-c-button-brand-color-background-hover: #112715b8;
    --sds-c-button-brand-color-border-hover: #112715b8;
}